.gallery {
  padding: 90px 0 100px;
  position: relative;
  overflow: hidden;
  .side_photos {
    position: absolute;
    display: block;
  }
  .palm_foto {
    bottom: 0;
    height: 460px;
    left: 0;
  }
  .strelitzia {
    height: 275px;
    bottom: 0;
    right: 0;
  }
  &_slider {
    position: relative;
    margin-bottom: 80px;
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 366px);
      row-gap: 20px;
      column-gap: 30px;
      justify-content: space-between;
    }
    &__card {
      width: 100%;
      overflow: hidden;
      border-radius: 5px;
      background: linear-gradient(113.96deg, #fa6f32 1.49%, #fe9013 101.44%);
      padding: 2px;

      & > img {
        display: block;
        width: 100%;
        height: 366px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
      }
    }
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 8px 14px 16px;
      background: $white;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
    }
    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: $black;
      text-transform: uppercase;
    }
    &__text {
      font-weight: 300;
      font-size: 15px;
      line-height: 120%;
      color: $black;
    }
  }
  &_swiper {
    position: initial;
    .swiper-button {
      &::after {
        display: none;
      }
    }
    .swiper-button-prev {
      left: -72px;
    }
    .swiper-button-next {
      right: -72px;
    }
  }
  .btn_gallery {
    margin: 0 auto;
    display: block;
  }
}
